@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Fonts
    font-family: 'Allura', cursive;
    font-family: 'Poppins', sans-serif;
*/

html {
    font-size: 62.5%; // (62.5 x 16) / 100 = 10 => 1rem = 10px
    @include tablet(){
        font-size: 50%; // (50 x 16) / 100 = 8 => 1rem = 8px
    }
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    background: url(../../assets/images/bg/body-bg.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

.main{
    min-height: 200vh;
}

