.tabs{
    margin-bottom: 2rem;
    .MuiTab-root{
        background-color: $color-black;
        color: $color-light-gray;
        font-size: 1.4rem;
        padding: 1rem 3rem;
        margin: 0 1rem;
        letter-spacing: .3rem;
        @include mobile(){
            margin: 0 .3rem;
        }
    }
    .Mui-selected{  
        background-color: $color-theme;
        color: $color-black !important;
    }
}