.footer{
    padding: 6rem 0;
    background: url(../../assets/images/bg/footer-bg.jpg) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    &__copyright{
        text-align: center;
        margin-top: 3.5rem;
        font-size: 1.7rem;
        color: rgba($color-light-gray, .7);
        span{
            color: $color-theme;
        }
    }
}